<div class="container mt-4">
    <div class="card">
        <div class="card-body ">
            <span class="h3">Lista de Tareas</span>
            <button (click)="exportarAExcel()" class="btn btn-success float-end ms-3">Excel</button>
            <button class="btn btn-dark float-end" routerLink="/createTarea">Agregar</button>

            <div class="row mt-4 align-items-center" *ngIf="tarea.length === 0">
              <div class="col-5 text-center">
                <img width="100" src="../../../assets/meme.jpg" alt="No hay Datos">
              </div>   
              <div class="col-7 text-start">
                <h3>No Hay Datos que Mostrar</h3>
              </div>             
            </div>

            <div class="table-responsive mt-5 p-2">
              <table class="table table-warning table-striped table-sm align-middle" *ngIf="tarea.length > 0">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="text-center">No.</th>
                      <th scope="col" class="text-center">Check</th>
                      <th scope="col" class="text-center">Tareas</th>
                      <th scope="col" class="text-center">Descripcion</th>
                      <th scope="col" class="text-center">Editar</th>
                      <th scope="col" class="text-center">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor="let dato of tarea; let i = index">
                      <th scope="row" class="text-center">{{i+1}} </th>
                      <td class="text-center">
                        <!-- Importamos el modulo de en ngModel en app.model "FormsModule" -->
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" [(ngModel)]="dato.checked" (change)="saveEstado(dato.id, dato.checked)">
                      </td>
                      <td class="text-center"> <b [ngClass]="{
                        'checkListTrue': dato.checked === true,
                        'checkListFalse': dato.checked === false
                      }">{{dato.tarea | uppercase}}</b> </td>
                      <td class="text-center"> <b>{{ dato.descripcion }} </b></td>
                      <td class="text-center"><i class="fa-solid fa-pen-to-square fa-lg" [routerLink]="['/editarTarea/', dato.id]"></i></td>
                      <td class="text-center"><i class="fa-solid fa-trash-can fa-lg text-danger" (click)="elimnarTareas(dato.id)"></i></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
