/* You can add global styles to this file, and also import other style files */

//Impoorta el Toastr para los mensajes
@import 'ngx-toastr/toastr';


body {
    background-image: url(../src/assets/fondo_crud.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
