<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Crear Tarea</h3>

                    <form class="mt-4">
                        
                        <input type="text" class="form-control form-control-lg" placeholder="Asignar Tarea">
                        <div class="row">
                            <div class="col">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
